body {
	font-family: 'Merriweather Sans', sans-serif;
}

#quiz {
	background-color: #d2def2;
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
}

#textbox {
	border-radius: 5px;
	font-size: 16px;

}

#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}	

#button:hover {
	background: white;
	border: 1px solid green;
	color: black ;
	cursor: pointer;
}

#hiddenText {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 500px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;
}

#picture {
	width: 430px;
	height: 242px;
}